
<h1>Here is your grid:</h1>
<h2><%= @grid %></h2>
<div class="container">
<form action="/game" class="form-inline">
  <div class="form-group">
  <label for="guess">What is your guess for longest word?</label>
  <input type="text" id="guess" name="query" placeholder="Guess?">
  <input type="submit" value="Go on!">
  </div>
</form>
</div>

